<div id="rw_header">
  <div class="rw_titlebar">
    <div class="rw_titlebar_tab">%home_link%</div>
    <div class="rw_titlebar_tab">#label_project#<a href="%cgi_url%/%page_project%/"><strong>%page_project%</strong></a></div>
    <div class="rw_titlebar_tab">%label_topic_or_search% %page_topic%</div>
    [?editable|<div class="rw_titlebar_tab"><a href="%cgi_url%/%page_project%/%page_raw_topic%/_edit">#label_edit#</a></div>?]
  </div>
</div>
