Gemfile.lock
spec/ldap.yml
.rvmrc
pkg/
*.pyc
*.rbc
*.swp
*~
.DS_Store
.rake_tasks~
.source_index
Gemfile.lock
coverage.info
coverage.vim
coverage/
doc/
html/
publish/
research/
website/index.html
pkg/
publish/
