<form class="rw_nav" action="_search">
  %home_link% 
   |
  Nodo: <b>%page_topic%</b>
  Proyecto: <a href="%cgi_url%/%page_project%/"><b>%page_project%</b></a> 
   <br/>
  <a href="%cgi_url%/%page_project%/RecentChanges">Cambios Recientes</a>
  <a href="%cgi_url%/%page_project%/_topics">Lista del Nodo</a>
  <a href="%cgi_url%/_projects">Lista del Proyecto</a>
   |
  <a href="%cgi_url%/%page_project%/%page_raw_topic%/_edit">Editar</a>
   |
  Proyecto De la Búsqueda:<input type="text" name="_search" size="10">
</form>
