<div class="rw_nav">
  %home_link% |
  Nodo: <b>%page_topic%</b> Proyecto: <a href="%cgi_url%/%page_project%/"><b>%page_project%</b></a> |
  <a href="%cgi_url%/%page_project%/_topiclist">Lista del Nodo</a>
  <a href="%cgi_url%/_projectlist">Lista del Proyecto</a>
   |
  <a href="%cgi_url%/%page_project%/%page_raw_topic%/_edit">Editar</a>
</div>
