<div class="rw_navbar">
  %home_link%
  |
  <strong><em>%name%</em></strong>
</div>
<div class="rw_content">
<h1>%name%</h1>
<p>#label_send_report_by# <a href="mailto:%webmaster%?subject=%name%[?backtrace_email|&amp;body=%backtrace_email%?]">#label_send_report#</a></p>
<p>%backtrace%</p>
</div>
