/* $Id$ */
body
{
  color: black;
  font-size: medium;
  background-color: #fafafa;
}

.rw_navbar
{
  font-weight: bold;
  font-size: 1.1em;
  padding: 0.3em;
}

.rw_navbar a
{
  border-bottom: 1px dashed black;
  font-weight: bold;
}
.rw_navbar a:visited
{
  color: maroon;
  border-bottom: 1px dashed maroon;
}
.rw_navbar a:hover { background-color: #afafaf; }

.rw_content
{
  background-color: white;
  border: 1px dashed grey;
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}

.rw_message
{
  background-color: #fab;
  border: 3px dotted red;
  font-weight: bolder;
  font-size: 90%;
  padding: 0.5em;
  margin-left: 3em;
  margin-right: 3em;
}


.rw_edit_content
{
  border: 1px solid black;
  padding: 0.3em;
  width: 95%;
  min-height: 20.5em;
}

.rw_accelerator { text-decoration: underline; }

.rw_edit_content textarea
{
  border: 1px solid black;
  padding: 0.3em;
  min-height: 20.5em;
  height: 20.5em;
}

.rw_edit_comment
{
  clear: both;
  margin-top: 1em;
}

.rw_edit_comment input
{
  border: 1px solid black;
  min-width: 50%;
  width: 70%;
  max-width: 80%;
}

.rw_edit_form { }

.rw_edit_form_button
{
  font-size: 0.8em;
  border: 1px solid black;
}

.rw_pagelink { text-decoration: none; }
.rw_projectxlink { }
.rw_projectindex { }

.rw_edit_raw
{
  font-size: 0.8em;
  float: left;
  max-width: 48%;
  width: 48%;
  margin: 0;
}

.rw_edit_raw pre
{
  overflow: scroll;
  clear: right;
}

.rw_edit_format
{
  font-size: 0.8em;
  float: right;
  max-width: 48%;
  width: 48%;
  margin: 0;
}

.rw_edit_title { }

.rw_edit_format div
{
}

.rw_search_button
{
  border: 1px solid black;
}

.rw_search_box
{
  border: 1px solid black;
}

.rw_search_box:hover { }

li { margin-top: 0.25em; margin-bottom: 0.25em; }

.rw_minilink { font-size: 0.5em; font-weight: bold; }

#rw_saved_page_announcement { }

  /* Token Classes */
.rwtk_Paragraph { }
.rwtk_Code
{
  border-left: 1em solid #999;
}
.rwtk_Image { border: none; }
.rwtk_NumberedLinks
{
  border-bottom: 1px solid #00AA00;
}
.rwtk_NamedLinks
{
  border-bottom: 1px solid #00AA00;
}
.rwtk_ExternalLinks
{
  border-bottom: 1px solid #00AA00;
}
.rwtk_RubyTalkLinks
{
  border-bottom: 1px solid #00AA00;
}
.rwtk_OtherRubyLinks
{
  border-bottom: 1px solid #00AA00;
}
.rwtk_HRule { }

.rwtk_Abbreviations { }

div.rwtk_Calendar {
  border: 1px solid black;
  float: right;
  clear: none;
}
.rwtk_Calendar_current_month { }
.rwtk_Calendar_prev_month { }
.rwtk_Calendar_next_month { }
.rwtk_Calendar_weekend { }
.rwtk_Calendar_weekday { }
.rwtk_Calendar_day { }
.rwtk_Calendar_today { background-color: #FFFFA7; }

.rwtk_EditWikiLink { border: 1px dashed grey; }
.rwtk_WikiLink { text-decoration: none; }

.rwtk_Headings { }
.rwtk_Lists { }
.rwtk_Blockquotes { }
.rwtk_Definitions { }
.rwtk_Definitions dt { font-weight: bold; }
