/* $Id$ */
/*
 * The fixed positioning for what we're doing is based on:
 * http://www.456bereastreet.com/lab/cssframes/
 */
body, html { margin: 0; padding: 0; }
  /* Prevents content from becoming unreachable in Gecko */
body { min-width: 720px; }

  /*
   * position: absolute - scrolls the whole page for all browsers. This also
   * makes the background invisible, so the text doesn't appear between tabs.
   */
div#rw_header
{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 2.25em;
  background-color: #F7FEFF;
}

  /* position: fixed - header and footer don't scroll; modern browsers */
body > div#rw_header { position: fixed; }

  /*
   * position: absolute - scrolls the whole page for all browsers. This also
   * makes the background invisible, so the text doesn't appear between tabs.
   */
div#rw_footer
{
/*position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2.25em;
  background-color: #F7FEFF;*/
}

  /* position: fixed - header and footer don't scroll; modern browsers */
body > div#rw_footer { position: fixed; }

body > div#rw_footer > .rw_navbar { position: fixed; bottom: 0; }
body > div#rw_footer > .rw_navbar > div { position: relative; top: -2em; }

body
{
  margin: 0.5em;
  color: black;
  font-size: medium;
  font-family: "Trebuchet MS", "Verdana", sans-serif;
  background-color: #F7FEFF;
}

.rw_navbar
{
  width: 100%;
  margin: 0;
  padding: 0.1em;
  font-size: 0.7em;
  border: 1px solid black;
  color: white;
  background-color: #27C;
  height: 0.5em;
  z-index: 2;
}

.rw_navbar a
{
  color: white;
  border-bottom: 1px dashed white;
  font-weight: bold;
}

.rw_navbar a:visited
{
  color: #2E7;
  font-weight: normal;
  border-bottom: 1px dashed #2E7;
}

.rw_navbar a:hover
{
  text-decoration: none;
}

.rw_navbar_tab
{
  float: left;
  background-color: #27C;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.3em;
  border: 1px solid #059;
  margin: 0 0.3em;
  height: 2em;
  vertical-align: center;
}

.rw_navbar_tab:hover
{
  background-color: #49E;
}

.rw_navbar_righttab
{
  float: right;
  padding-left: 0.8em;
  padding-top: 0.3em;
  padding-right: 0.8em;
  border: 1px solid #059;
  background-color: #27C;
  margin: 0 0.3em;
  height: 2em;
}

.rw_navbar_righttab:hover
{
  background-color: #49E;
}

.rw_content
{
  clear: both;
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
}

.rw_message
{
  background-color: #fab;
  border: 3px dotted red;
  font-weight: bolder;
  clear: both;
  font-size: 90%;
  padding: 1em;
  margin-top: 3em;
  margin-left: 5em;
  margin-right: 5em;
}

.rw_edit_content
{
  border: 1px dashed #059;
  padding: 0.3em;
  width: 100%;
  min-height: 20.5em;
}

.rw_accelerator { text-decoration: underline; }

.rw_edit_content textarea
{
  border: 1px dashed #059;
  padding: 0.3em;
  width: 100%;
  min-height: 20.5em;
  height: 20.5em;
}

.rw_edit_comment
{
  clear: both;
  margin-top: 1em;
}

.rw_edit_comment input
{
  border: 1px dashed #059;
  min-width: 50%;
  width: 70%;
  max-width: 80%;
}

.rw_edit_form_button
{
  font-size: 0.8em;
  border: 1px dotted #27C;
}

.rw_edit_raw
{
  font-size: 0.8em;
  float: left;
  max-width: 48%;
  width: 48%;
  margin: 0;
}

.rw_edit_raw pre
{
  border: 3px double #72C;
  overflow: scroll;
  clear: right;
}

.rw_edit_format
{
  font-size: 0.8em;
  float: right;
  max-width: 48%;
  width: 48%;
  margin: 0;
}

.rw_edit_title
{
  margin: 0;
}

.rw_edit_format div
{
  border: 3px double #27C;
}

.rw_search_button
{
  border: 1px dotted #27C;
}

.rw_search_box
{
  border: 1px dotted #27C;
}

.rw_search_box:hover
{
  background-color: #999;
}

li { margin-top: 0.25em; margin-bottom: 0.25em; }

.rw_minilink { font-size: 0.5em; font-weight: bold; }

#rw_editing_tab { background-color: #C72; }
#rw_saved_page_announcement { border-bottom: 1px solid black; }

  /* Token Classes */
.rwtk_Paragraph { }
.rwtk_Code
{
  border-left: 1em solid #999;
}
.rwtk_Image { }
.rwtk_NumberedLinks
{
  border: 1px dashed #72C;
  background-color: #C7CECF;
}
.rwtk_NamedLinks
{
  border: 1px dashed #72C;
  background-color: #C7CECF;
}
.rwtk_ExternalLinks
{
  border: 1px dashed #72C;
  background-color: #C7CECF;
}
.rwtk_RubyTalkLinks
{
  border: 1px dashed #72C;
  background-color: #C7CECF;
}
.rwtk_OtherRubyLinks
{
  border: 1px dashed #72C;
  background-color: #C7CECF;
}
.rwtk_HRule { }

.rwtk_Abbreviations { }

div.rwtk_Calendar {
  border: 1px solid black;
  float: right;
  clear: none;
}
.rwtk_Calendar_current_month { }
.rwtk_Calendar_prev_month { }
.rwtk_Calendar_next_month { }
.rwtk_Calendar_weekend { }
.rwtk_Calendar_weekday { }
.rwtk_Calendar_day { }
.rwtk_Calendar_today { background-color: #FFFFA7; }

.rwtk_EditWikiLink { border: 1px dotted blue }
.rwtk_WikiLink { }

.rwtk_Headings { }
.rwtk_Lists { }
.rwtk_Blockquotes { }
.rwtk_Definitions { }
.rwtk_Definitions dt { font-weight: bold; }

