<div class="rw_nav">
  %home_link% |
  Thema: <b>%page_topic%</b> Projekt: <a href="%cgi_url%/%page_project%/"><b>%page_project%</b></a> |
  <a href="%cgi_url%/%page_project%/%page_raw_topic%/_edit">Edit</a>
</div>
