<div class="rw_nav">%home_link%</div>
<h1>%name%</h1>
<p>Schicken Sie dem webmaster einen Report durch <a href="mailto:%webmaster%?subject=%name%&amp;body=%backtrace_email%">email</a>.</p>
<p>%backtrace%</p>
