<div class="rw_footer">
  <form class="rw_footer_tab" action="_search">
    <div>
      <input class="rw_search_box" type="text" name="q" size="10" />
    </div>
    <div>
      <input class="rw_search_all_check" type="checkbox" name="a">#label_search_all#</input>
      <button class="rw_search_button" type="submit">#label_search_project#</button>
    </div>
  </form>
    <div class="rw_footer_tab">
      <dl>
        <dt>%page_project%::</dt>
        <dd><a href="%cgi_url%/%page_project%/_topics">#label_topics#</a><br />
            <a href="%cgi_url%/%page_project%/RecentChanges">#label_recent_changes#</a>  
        </dd>
    </div>
    <div class="rw_footer_tab">
      <a href="%cgi_url%/_projects">#label_projects#</a>
    </div>
  </form>
</div>
