<!-- header -->!INCLUDE!<!-- /header -->
<!-- content -->
[?message|<div class="rw_message">%message%</div>?]
<div class="rw_content">
  %content%
</div><!-- /content -->
<!-- footer -->!INCLUDE!<!-- /footer -->
