<div class="rw_navbar">
  %home_link%
  &raquo;
  <a href="%cgi_url%/%page_project%/">%page_project%</a>
  &raquo;
  %page_topic%
  [?editable| <a href="%cgi_url%/%page_project%/%page_raw_topic%/_edit">[#label_edit#]</a>?]
</div>
