<form class="rw_nav" action="_searchproj">
  %home_link% 
   |
  Thema: <b>%page_topic%</b> 
  Projekt: <a href="%cgi_url%/%page_project%/"><b>%page_project%</b></a> 
   <br/>
  <a href="%cgi_url%/%page_project%/RecentChanges">Neue Änderungen</a>    
  <a href="%cgi_url%/%page_project%/_topiclist">Themaliste</a>
  <a href="%cgi_url%/_projectlist">Projektliste</a>
   |
  <a href="%cgi_url%/%page_project%/%page_raw_topic%/_edit">Edit</a>
   |
  SuchcProjekt:<input type="text" name="searchstr" size="10">   
</form>
