<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>%wiki_title%</title>
    <meta http-equiv="Content-Type" content="text/html; charset=#charset_encoding#" />
    [!indexable|<meta name="robots" content="noindex,nofollow,noarchive" />?]
    %css_link%
<!--[if IE 6]>
<style type="text/css" media="screen,print">
  html { overflow: hidden; }
  body { height: 100%; overflow: auto; }
</style>
<![endif]-->
  </head>
  <body>
      !INCLUDE!
  </body>
</html>
