<!-- header -->!INCLUDE!<!-- /header -->
<!-- content --><div id="rw_content">
[?message|<div class="rw_message">%message%</div>?]
<div class="rw_content">
  %content%
</div></div><!-- /content -->
<!-- footer -->!INCLUDE!<!-- /footer -->
