<form class="rw_nav" action="_search">
  %home_link% 
   |
  Topic: <b>%page_topic%</b>
  Project: <a href="%cgi_url%/%page_project%/"><b>%page_project%</b></a>
   <br/>
  <a href="%cgi_url%/%page_project%/RecentChanges">Recent Changes</a>  
  <a href="%cgi_url%/%page_project%/_topics">Topic List</a>
  <a href="%cgi_url%/_projects">Project List</a>
   |
  <a href="%cgi_url%/%page_project%/%page_raw_topic%/_edit">Edit</a>
   |
  Search Project:<input type="text" name="search" size="10">
</form>
