<div class="rw_navbar">
  <div class="rw_navbar_tab">%home_link%</div>
  <div class="rw_navbar_tab">Topic: <b>%page_topic%</b></div>
  <div class="rw_navbar_tab">Project: <b>%page_project%</b></div>
  <div class="rw_navbar_righttab" style="background-color: #C72"><strong><em>Editing</em></strong></div>
</div>

<div class="rw_content">
  <form class="rw_edit_form" action="%cgi_url%/%page_project%/%page_raw_topic%" method="post">
    <span class="rw_accelerator">T</span>ext:<br /><textarea accesskey="T" class="rw_edit_content" rows="15" name="newpage">%page_content%</textarea>
    <div class="rw_edit_comment">Edit C<span class="rw_accelerator">o</span>mment: <input accesskey="O" type="text" name="edcomment" /></div>
    <input type="hidden" name="topic" value="%page_raw_topic%" />
    <input type="hidden" name="project" value="%page_project%" />
    <input type="hidden" name="old_version" value="%page_old_version%" />
    <input type="hidden" name="version" value="%page_version%" /><br />
    <button class="rw_edit_form_button" accesskey="S" type="submit" name="action" value="save"><span class="rw_accelerator">S</span>ave</button>
    <button class="rw_edit_form_button" accesskey="C" type="submit" name="action" value="cancel"><span class="rw_accelerator">C</span>ancel</button>
    <button class="rw_edit_form_button" accesskey="P" type="submit" name="action" value="preview"><span class="rw_accelerator">P</span>review</button>
  </form>
  <h2 style="border-bottom: 1px solid black">Original Text</h2>
  <div class="rw_edit_raw"><h2 class="rw_edit_title">Raw</h2><pre>%pre_page_content%</pre></div>
  <div class="rw_edit_format"><h2 class="rw_edit_title">Formatted</h2><div>%unedited_page_content%</div></div>
</div>
