<div class="rw_navbar">
  <div class="rw_navbar_tab">%home_link%</div>
  <div class="rw_navbar_righttab" style="background-color: #C72"><strong><em>%name%</em></strong></div>
</div>
<div class="rw_content">
<h1>%name%</h1>
<p>#label_send_report_by# <a href="mailto:%webmaster%?subject=%name%[?backtrace_email|&amp;body=%backtrace_email%?]">#label_send_report#</a></p>
<p>%backtrace%</p>
</div>
