<div class="rw_navbar">
  <div class="rw_navbar_tab">%home_link%</div>
  <div class="rw_navbar_righttab" style="background-color: #C72"><strong><em>%name%</em></strong></div>
</div>
<h1>%name%</h1>
<p>Send the webmaster a report by <a href="mailto:%webmaster%?subject=%name%&amp;body=%backtrace_email%">email</a>.</p>
<p>%backtrace%</p>
