!INCLUDE!
<div class="rw_content" style="border-bottom: 1px solid black">Saved page <a href="%cgi_url%/%page_project%/%page_raw_topic%">%page_project%::%page_topic%</a></div>
<!-- topic content -->
<div class="rw_content">
  %content%
</div>
<!-- topic content -->
