name: Release

on:
  push:
    branches:
      - main
    paths:
      - lib/diff/lcs/version.rb

  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - lib/diff/lcs/version.rb

  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Publish Gem Version with Trusted Publishing

    if: github.repository == 'halostatue/diff-lcs' && (github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request' && github.event.pull_request.merged))

    runs-on: ubuntu-latest
    environment: release

    env:
      rubygems_release_gem: true

    permissions:
      contents: write # Create a new tag
      id-token: write # Authenticate for gem publishing

    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            fulcio.sigstore.dev:443
            github.com:443
            index.rubygems.org:443
            objects.githubusercontent.com:443
            rekor.sigstore.dev:443
            release-assets.githubusercontent.com:443
            rubygems.org:443
            tuf-repo-cdn.sigstore.dev:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: true

      - id: rubygems
        run: |
          ruby -e \
            'print "version=", Gem::Specification.load(ARGV[0]).rubygems_version, "\n"' \
            diff-lcs.gemspec >>"${GITHUB_OUTPUT}"

      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          bundler-cache: false
          ruby-version: ruby

      - name: Install dependencies
        run: |
          gem update --system="${RUBYGEMS_VERSION}"
          bundle install --jobs 4 --retry 3
        env:
          RUBYGEMS_VERSION: ${{ steps.rubygems.outputs.version }}

      - name: Get gem version
        run: |
          echo gem_version="$(rake version)" >>"${GITHUB_OUTPUT}"

      - name: Ensure that gemspec is up-to-date
        run: |
          rake gemspec

          if ! git diff >/dev/null 2>/dev/null; then
            git commit -m "chore: Automatically update gemspec for ${gem_version} for release"
            git push origin main
          fi

      - uses: rubygems/release-gem@1c162a739e8b4cb21a676e97b087e8268d8fc40b # v1.1.2

      - name: Show the status if release failed
        if: failure()
        run: |
          git status
          git diff

  publish_docs:
    needs: release
    permissions:
      contents: read
      pages: write    # Publish documentation
      id-token: write # Authenticate for gem publishing
    uses: ./.github/workflows/publish-docs.yml
