name: Reviewdog

on:
  pull_request:

permissions: {}

jobs:
  typos:
    if: ${{ github.event.action != 'closed' }}
    name: Typos
    runs-on: ubuntu-22.04

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          persist-credentials: false

      - uses: reviewdog/action-typos@e50daf62ea7a1c24960365c0f70f05296f25e1dc #v1.17.3

  actionlint:
    if: ${{ github.event.action != 'closed' }}
    name: Actionlint
    runs-on: ubuntu-22.04

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          persist-credentials: false

      - uses: reviewdog/action-actionlint@db58217885f9a6570da9c71be4e40ec33fe44a1f #v1.65.0

  standardrb:
    if: ${{ github.event.action != 'closed' }}
    name: 'Ruby: Standard'
    runs-on: ubuntu-22.04

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          persist-credentials: false

      - uses: ruby/setup-ruby@922ebc4c5262cd14e07bb0e1db020984b6c064fe #v1.226.0
        with:
          ruby-version: '3.3'
          bundler-cache: true

      - uses: kirillplatonov/action-standard@ce7fc0be158421b01e5d9dc20eef1dcabcf18e4b #v1.0.1
        with:
          skip_install: true
          use_bundler: true
