<!-- header -->!INCLUDE!<!-- /header -->
<!-- content --><div class="rw_content" id="rw_saved_page_announcement">
  #label_saved_page# <a href="%cgi_url%/%page_project%/%page_raw_topic%">%page_project%::%page_topic_name%</a>
</div>
<div class="rw_content">
  %content%
</div><!-- /content -->
<!-- footer -->!INCLUDE!<!-- /footer -->
