<div class="rw_nav">%home_link% | <i>Editing</i> Topic: <b>%page_topic%</b> Project: <b>%page_project%</b></div><br />

<form class="rw_edit_form" action="%cgi_url%/%page_project%/%page_raw_topic%" method="post">
  <textarea name="newpage" rows="15" cols="90">%page_content%</textarea>
  <input type="hidden" name="origpage" value="%orig_page%" />
  <input type="hidden" name="topic" value="%page_raw_topic%" />
  <input type="hidden" name="project" value="%page_project%" />
  <input type="hidden" name="old_version" value="%page_old_version%" />
  <input type="hidden" name="version" value="%page_version%" /><br />
  <button accesskey="S" type="submit" name="action" value="save"><u>S</u>ave</button>
  <button accesskey="C" type="submit" name="action" value="cancel" /><u>C</u>ancel</button>
</form>
<div class="rw_edit_raw"><h2>Raw Original Value</h2><pre>%pre_page_content%</pre></div>
<div class="rw_edit_format"><h2>Formatted Version</h2>%unedited_page_content%</div>
